### Clusterin using extracted features and `KMeans` algorithm:

In [1]:
import numpy as np
from sklearn.cluster import KMeans
import torch
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [2]:
features_mat = torch.load('./embeddings/node_embedding8.pt',map_location=torch.device('cpu'))

In [3]:
features_mat.shape

torch.Size([5418, 64])

In [4]:
features_mat = torch.detach(torch.Tensor.cpu(features_mat)).numpy()

# Create a KMeans object with the desired number of clusters
num_clusters = 500  # Replace with the desired number of clusters
kmeans = KMeans(n_clusters=num_clusters)

# Fit the KMeans model to your feature matrix
kmeans.fit(features_mat)

# Get the cluster labels for each node
cluster_labels = kmeans.labels_

/home/amir/anaconda3/envs/Stock/lib/python3.9/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

---
---
## Visualization

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

def plot_clusters(clusters,labels,dataset):
    for index,cluster in enumerate(clusters):
        names = []
        plt.figure(figsize=(18,3))        
        plt.title(f'Cluster {index+1}')
        for stock in cluster:
            plt.plot(dataset[f'stock {stock+1}']);
            names.append(labels[stock])
        plt.ylabel('Normalaized Close Price')
        plt.xlabel('day')  
        plt.savefig(f'./result/3/Cluster{index+1}.png', format='png')
        # plt.legend(names)
        # if index == 15 :
        #     break

In [6]:
def convert_arr_to_cluster(arr):
    cls= []
    n_cluster = max(arr+1)
    for i in range(n_cluster):
        cls.append(list(np.where(arr == i)[0]))
    return cls

Load time series data :

In [7]:
My_Dataset2 = pd.read_csv('../data/processed/AE/TimeSeries.csv',index_col=0)
My_Dataset2.columns = [f'stock {i+1}' for i in range(My_Dataset2.shape[1])]

In [8]:
My_Dataset2.head()

,stock 1,stock 2,stock 3,stock 4,stock 5,stock 6,stock 7,stock 8,stock 9,stock 10,...,stock 5409,stock 5410,stock 5411,stock 5412,stock 5413,stock 5414,stock 5415,stock 5416,stock 5417,stock 5418
0,6.960000,8.519928,69.193275,2.083156,13.098318,38.510532,1.44,63.572651,305.049866,4.830847,...,20.590000,4.870000,4.58,20053.333984,26.879999,12.900000,85.480003,15.860000,9.090000,28.129999
1,7.190000,8.755025,69.585861,2.131762,12.927719,38.877575,1.44,65.883705,312.955139,4.929436,...,21.670000,4.870000,4.50,20583.333984,27.030001,13.000000,88.739998,16.900000,8.860000,29.010000
2,7.196667,9.024603,69.278336,2.116717,12.870852,38.488575,1.54,66.099414,316.457581,4.929436,...,21.196666,4.843333,4.74,20601.111328,27.543333,13.033333,86.466667,17.046667,9.026666,29.130000
3,7.200000,9.159392,69.124573,2.109195,12.842419,38.294075,1.59,66.207268,318.208801,4.929436,...,20.959999,4.830000,4.86,20610.000000,27.799999,13.050000,85.330002,17.120001,9.110000,29.190001
4,7.100000,9.055951,67.269600,2.043228,13.193097,35.724823,1.58,65.874481,309.719788,5.126613,...,20.809999,4.740000,5.15,21096.666016,28.020000,13.100000,80.889999,17.490000,8.970000,27.750000

In [9]:
stock_names = np.load('../data/processed/selected_names.npy')
stock_names

array(['OMER', 'CGAU', 'BFC', ..., 'EDIT', '0267.HK', 'CPF'], dtype='<U13')

In [10]:
for col in My_Dataset2.columns:
    My_Dataset2[col] = (My_Dataset2[col] - My_Dataset2[col].mean()) / My_Dataset2[col].max()

# Print the updated DataFrame
My_Dataset2.head()

,stock 1,stock 2,stock 3,stock 4,stock 5,stock 6,stock 7,stock 8,stock 9,stock 10,...,stock 5409,stock 5410,stock 5411,stock 5412,stock 5413,stock 5414,stock 5415,stock 5416,stock 5417,stock 5418
0,0.360800,0.232307,-0.091259,-0.053002,-0.033786,0.217174,0.222711,0.284367,-0.093567,-0.136668,...,0.476138,-0.041359,-0.243252,-0.197841,-0.196751,-0.051371,0.119574,0.202217,0.052254,0.246124
1,0.391183,0.256147,-0.087260,-0.033134,-0.043944,0.226615,0.222711,0.316057,-0.077473,-0.125204,...,0.525977,-0.041359,-0.252609,-0.183597,-0.193732,-0.047079,0.154214,0.250929,0.030515,0.276271
2,0.392064,0.283483,-0.090392,-0.039283,-0.047330,0.216609,0.267354,0.319015,-0.070342,-0.125204,...,0.504134,-0.045759,-0.224539,-0.183119,-0.183399,-0.045648,0.130058,0.257799,0.046268,0.280382
3,0.392504,0.297151,-0.091958,-0.042358,-0.049023,0.211606,0.289675,0.320494,-0.066776,-0.125204,...,0.493213,-0.047959,-0.210504,-0.182881,-0.178233,-0.044933,0.117980,0.261233,0.054144,0.282438
4,0.379294,0.286662,-0.110851,-0.069322,-0.028142,0.145520,0.285211,0.315931,-0.084060,-0.102276,...,0.486291,-0.062811,-0.176586,-0.169802,-0.173804,-0.042787,0.070801,0.278564,0.040912,0.233106

----

In [12]:
plot_clusters(convert_arr_to_cluster(kmeans.labels_),stock_names,My_Dataset2)

/tmp/ipykernel_3424/2295266352.py:9: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  plt.figure(figsize=(18,3))

---
---